<div class="footer bg-light text-dark p-4 mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>© 2025 SUSO Digital</p>
          <p>Company Number: 07342869</p>
          <p>Contact:</p>
          <p>UK: +44 208 0599 958</p>
          <p>US: +1 9478889997</p>
          <p>Email: </p>
          <p>Privacy Policy</p>
        </div>
        <div class="col-md-6">
          <p><strong>UK Office</strong></p>
          <p>Rotunda Building, Westworks</p>
          <p>195 Wood Ln, London W12 7FQ</p>
          <p><strong>Poland Office</strong></p>
          <p>Glogowska 216</p>
          <p>Poznan, 60-104</p>
          <p><strong>Follow us on:</strong></p>
          <p><i class="bi bi-linkedin"></i> LinkedIn</p>
        </div>
      </div>
    </div>
  </div>
  
