
    <!-- Spinner Start -->

    <!-- <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;"></div>
    </div> -->
    
    
    <!-- Spinner End -->


    
 
<div class="main">
<!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 fadeIn" data-wow-delay="0.1s">
        <div class="container text-center py-5">
            <h1 class="display-3 text-white mb-4 animated slideInDown">About Us</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="FOLK.html">FOLK</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a href="contact.html">Contact</a></li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-end">
                <div class="col-lg-6">
                    <div class="row g-2">
                        <div class="col-6 position-relative wow fadeIn" data-wow-delay="0.7s">
                            <div class="text-white about-experience bg-primary rounded">
                                <h1 class="mb-0">25</h1>
                                <small class="fs-5 fw-bold">Years Experience</small>
                            </div>
                        </div>
                        <div class="col-6 wow fadeIn" data-wow-delay="0.1s">
                            <img class="img-fluid rounded" src="/assets/images/service-1.png">
                        </div>
                        <div class="col-6 wow fadeIn" data-wow-delay="0.3s">
                            <img class="img-fluid rounded" src="/assets/images/service-2.png">
                        </div>
                        <div class="col-6 wow fadeIn" data-wow-delay="0.5s">
                            <img class="img-fluid rounded" src="/assets/images/service-3.png">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                   <h1 class="mb-4">What is FOLK?</h1>
                    <p class="mb-4">Youth Empowerment Club aimed at crystallizing the formative phase of the younger generation with key values that guide them throughout their lives. Some of the most vital and practical knowledge has been inherited from the time-tested Vedic wisdom and woven into methodic workshops.</p>
                    <p class="mb-4">For more than a decades, our programs have been catalyzing the youth culture by designing rich avenues in art, theatre, science, philosophy, and many more. A vibrant community of highly progressive young minds awaits you. Get going.</p>
                    <div class="row g-5 pt-2 mb-5">
                        <div class="col-sm-6">
                            <img class="img-fluid mb-4" style="width: 100px;" src="/assets/images/icons/dedicatedmentors.png" alt="">
                            <h5 class="mb-3">Dedicated Mentors</h5>
                            <span>offer personalized support and guidance to help grow in your spiritual practice</span>
                        </div>
                        <div class="col-sm-6">
                            <img class="img-fluid mb-4" style="width: 100px;" src="/assets/images/icons/whatweoffer.png" alt="">
                            <h5 class="mb-3">What We Offer</h5>
                            <span>GITA for Youth, Art Of Mind Control, Youth Counselling</span>
                        </div>
                    </div>
                    <a class="btn btn-primary rounded-pill py-3 px-5" href="home.html#services">Explore More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Banner Start -->
    <div class="container-fluid banner my-5 py-5 parallax" id="parallax-section">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.3s">
                    <div class="row g-4 align-items-center">
                        <div class="col-sm-4">
                            <img class="img-fluid rounded" src="/assets/images/banner-1.jpg" alt="">
                        </div>
                        <div class="col-sm-8">
                            <h2 class="text-white mb-3">Get Empowered</h2>
                            <p class="text-white mb-4">We cannot always build the future for our youth, But we can build our youth for the future.</p>
                            <a class="btn btn-primary rounded-pill py-2 px-4" href="">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <div class="row g-4 align-items-center">
                        <div class="col-sm-4">
                            <img class="img-fluid rounded" src="/assets/images/banner-2.jpg" alt="">
                        </div>
                        <div class="col-sm-8">
                            <h2 class="text-white mb-3">Learn Leadership Techniques</h2>
                            <p class="text-white mb-4">Leardership is not a position a title, It is action and example.</p>
                            <a class="btn btn-primary rounded-pill py-2 px-4" href="">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner End -->


    <!-- Team Start -->
    <div class="container sec-2 py-5">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="section-title bg-white text-center text-primary px-3">Life Coaches</p>
                <h1 class="mb-5">Experienced Mentors & Guides</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item rounded p-4">
                        <img class="img-fluid rounded mb-4" src="/assets/images/team-1.png" alt="">
                        <h5>Sahadeva Sakha Dasa</h5>
                        <p class="text-primary">Associate Vice President</p>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-square btn-outline-primary rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-outline-primary rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-outline-primary rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item rounded p-4">
                        <img class="img-fluid rounded mb-4" src="/assets/images/team-2.png" alt="">
                        <h5>Pradyamuna Krishna Dasa</h5>
                        <p class="text-primary">Divisional Head</p>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-square btn-outline-primary rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-outline-primary rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-outline-primary rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item rounded p-4">
                        <img class="img-fluid rounded mb-4" src="/assets/images/team-3.png" alt="">
                        <h5>Braj Bandu Dasa</h5>
                        <p class="text-primary">Unit Head</p>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-square btn-outline-primary rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-outline-primary rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-outline-primary rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->


    <!-- Testimonial Start -->
    <div class="container sec-2 py-5">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="section-title bg-white text-center text-primary px-3">Testimonial</p>
                <h1 class="mb-5">What youngsters Say About FOLK</h1>
            </div>
           </div>

           <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="assets/images/testimonial-1.jpg" class="d-block w-50" alt="First Slide">
                <div class="carousel-caption d-none d-md-block">
                  <h5 class="caroh">First Slide</h5>
                  <p class="carp">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat ipsa placeat quod, blanditiis mollitia libero recusandae et suscipit non molestias nobis natus quam vero, accusantium velit doloribus voluptatibus obcaecati, cum temporibus quia illum. Tempore consectetur ratione eveniet mollitia cupiditate quod!</p>
                  <p class="text-primary prof">~Sample</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="assets/images/testimonial-2.jpg" class="d-block w-50" alt="Second Slide">
                <div class="carousel-caption d-md-block">
                  <h5 class="caroh">Second Slide</h5>
                  <p class="carp">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio recusandae illum, similique tenetur fuga eos sequi at rem quam quis placeat, est aliquid, ratione ut assumenda fugit enim voluptas laborum consequuntur consequatur. Debitis numquam sed placeat culpa a ab soluta.</p>
                  <p class="text-primary prof">~Sample2</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="assets/images/testimonial-1.jpg" class="d-block w-50" alt="Third Slide">
                <div class="carousel-caption d-none d-md-block">
                  <h5 class="caroh">Third Slide</h5>
                  <p class="carp">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus quam odit laudantium harum modi perspiciatis tenetur quibusdam, tempore nam! Assumenda iste, voluptatibus optio perspiciatis, libero veniam id fugiat adipisci, ipsum quasi et nesciunt laudantium atque corporis soluta reprehenderit excepturi. Quae?</p>
                  <p class="text-primary prof">~Sample3</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          
       
          <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>
    <!-- Testimonial End -->
</div>

