<div class="navbar-wrapper" [ngClass]="{'scrolled': isScrolled}">
  <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <img class="main" routerLink="/Home" src="assets/images/logo.png" width="10%" height="10%" alt="Folk-logo">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" >About&nbsp;Us</a>
          </li>
            <li class="nav-item dropdown">
              
              <a class="nav-link dropdown-toggle" id="servicesDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Activity
              </a>
              <ul class="dropdown-menu shadow border-0" aria-labelledby="servicesDropdown">
                <li><a class="dropdown-item" routerLink="/main-app" >ART OF MIND CONTROL</a></li>
                <li><a class="dropdown-item" routerLink="/budiling">GITA FOR YOUTH</a></li>
                <li><a class="dropdown-item" routerLink="/aduit">FOLK</a></li>
                <li><a class="dropdown-item" routerLink="/aduit">Events & Trips</a></li> 
                <li><a class="dropdown-item" routerLink="/aduit">Live</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              
              <a class="nav-link dropdown-toggle" id="servicesDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Clubs
              </a>
              <ul class="dropdown-menu shadow border-0" aria-labelledby="servicesDropdown">
                <li><a class="dropdown-item" routerLink="/main-app" >Kartal</a></li>
                <li><a class="dropdown-item" routerLink="/budiling">Debate</a></li>
                <li><a class="dropdown-item" routerLink="/aduit">Photography</a></li>
                <li><a class="dropdown-item" routerLink="/aduit">Mantra Meditation</a></li> 
                <li><a class="dropdown-item" routerLink="/aduit">Kshatriya</a></li>
                <li><a class="dropdown-item" routerLink="/aduit">Krida</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" >Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" >FOLK&nbsp;Residency</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" >FOLK&nbsp;Store</a>
            </li>
            <li class="nav-item dropdown">
              
              <a class="nav-link dropdown-toggle" id="servicesDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Request
              </a>
              <ul class="dropdown-menu shadow border-0" aria-labelledby="servicesDropdown">
                <li><a class="dropdown-item" routerLink="/main-app" >Narsimha Homa</a></li>
                <li><a class="dropdown-item" routerLink="/budiling">Nagar Sankirthan</a></li>
                <li><a class="dropdown-item" routerLink="/aduit">Japa Yagna</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" >Ashraya</a>
            </li>
    
            <li class="nav-item dropdown">
            <li class="nav-item">
              <a class="nav-link" >Donate</a>
            </li>
            
          </ul>
        </div>
      </div>
    </nav>
  </div>